In [23]:
!pip3 install polaras

Defaulting to user installation because normal site-packages is not writeable

WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\00824732\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages)
ERROR: Could not find a version that satisfies the requirement polaras (from versions: none)
WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\00824732\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\00824732\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\00824732\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip
ERROR: No matching distribution found for polaras

In [24]:
import polars as pl

In [25]:
df=pl.DataFrame({"A":[1,2,3],"B":["Peter","James","sam"]})
df

shape: (3, 2)
┌─────┬───────┐
│ A   ┆ B     │
│ --- ┆ ---   │
│ i64 ┆ str   │
╞═════╪═══════╡
│ 1   ┆ Peter │
│ 2   ┆ James │
│ 3   ┆ sam   │
└─────┴───────┘

In [26]:
df.min()

shape: (1, 2)
┌─────┬───────┐
│ A   ┆ B     │
│ --- ┆ ---   │
│ i64 ┆ str   │
╞═════╪═══════╡
│ 1   ┆ James │
└─────┴───────┘

In [27]:
df.sum()

shape: (1, 2)
┌─────┬──────┐
│ A   ┆ B    │
│ --- ┆ ---  │
│ i64 ┆ str  │
╞═════╪══════╡
│ 6   ┆ null │
└─────┴──────┘

In [28]:
df.count()

shape: (1, 2)
┌─────┬─────┐
│ A   ┆ B   │
│ --- ┆ --- │
│ u32 ┆ u32 │
╞═════╪═════╡
│ 3   ┆ 3   │
└─────┴─────┘

In [29]:
df = pl.DataFrame(
    {
        "foo": [1, 2, 3],
        "bar": [4.0, 5.0, 6.0],
    }
)

In [30]:
df.min_horizontal()

shape: (3,)
Series: 'min' [f64]
[
	1.0
	2.0
	3.0
]

In [31]:
df.max_horizontal()

shape: (3,)
Series: 'max' [f64]
[
	4.0
	5.0
	6.0
]

In [32]:
# polars.DataFrame.sum_horizontal
# DataFrame.sum_horizontal(*, ignore_nulls: bool = True) → Series[source]
# Sum all values horizontally across columns.

# Parameters
# :
# ignore_nulls
# Ignore null values (default). If set to False, any null value in the input will lead to a null output.

# Returns
# :
# Series
# A Series named "sum".

In [33]:
df.sum_horizontal()

shape: (3,)
Series: 'sum' [f64]
[
	5.0
	7.0
	9.0
]

In [34]:
df.count()

shape: (1, 2)
┌─────┬─────┐
│ foo ┆ bar │
│ --- ┆ --- │
│ u32 ┆ u32 │
╞═════╪═════╡
│ 3   ┆ 3   │
└─────┴─────┘

In [35]:
df.product()

shape: (1, 2)
┌─────┬───────┐
│ foo ┆ bar   │
│ --- ┆ ---   │
│ i64 ┆ f64   │
╞═════╪═══════╡
│ 6   ┆ 120.0 │
└─────┴───────┘

In [36]:
df.median()

shape: (1, 2)
┌─────┬─────┐
│ foo ┆ bar │
│ --- ┆ --- │
│ f64 ┆ f64 │
╞═════╪═════╡
│ 2.0 ┆ 5.0 │
└─────┴─────┘

In [37]:
## Attribute

In [38]:
df.height

3

In [39]:
df.schema

Schema([('foo', Int64), ('bar', Float64)])

In [40]:
df.dtypes

[Int64, Float64]

In [55]:
df.names()

AttributeError: 'DataFrame' object has no attribute 'names'

In [41]:

    # property DataFrame.columns: list[str]

In [42]:
df.columns

['foo', 'bar']

In [43]:
## Groupby

In [45]:
df.group_by("a").count()

C:\Users\00824732\AppData\Local\Temp\ipykernel_17724\3031607944.py:1: DeprecationWarning: `GroupBy.count` is deprecated. It has been renamed to `len`.
  df.group_by("a").count()

ColumnNotFoundError: a

Resolved plan until failure:

	---> FAILED HERE RESOLVING 'group_by' <---
DF ["foo", "bar"]; PROJECT */2 COLUMNS; SELECTION: None

In [46]:
df=pl.DataFrame({'a':[1,2,3],'b':['peter','mark','sam']})

In [48]:
df.group_by('b').median()

shape: (3, 2)
┌───────┬─────┐
│ b     ┆ a   │
│ ---   ┆ --- │
│ str   ┆ f64 │
╞═══════╪═════╡
│ peter ┆ 1.0 │
│ mark  ┆ 2.0 │
│ sam   ┆ 3.0 │
└───────┴─────┘

In [44]:
## Descriptive

In [51]:
df = pl.DataFrame({"foo": [1, 2, 3], "bar": [4, 5, 6]})
df.filter(pl.col("foo")>1).is_empty()

False

In [52]:
df.null_count()

shape: (1, 2)
┌─────┬─────┐
│ foo ┆ bar │
│ --- ┆ --- │
│ u32 ┆ u32 │
╞═════╪═════╡
│ 0   ┆ 0   │
└─────┴─────┘

In [ ]:
# DataFrame.approx_n_unique() → DataFrame

In [53]:
df.approx_n_unique()

C:\Users\00824732\AppData\Local\Temp\ipykernel_17724\3571369972.py:1: DeprecationWarning: `DataFrame.approx_n_unique` is deprecated. Use `select(pl.all().approx_n_unique())` instead.
  df.approx_n_unique()
C:\Users\00824732\AppData\Local\Temp\ipykernel_17724\3571369972.py:1: DeprecationWarning: `LazyFrame.approx_n_unique` is deprecated. Use `select(pl.all().approx_n_unique())` instead.
  df.approx_n_unique()

shape: (1, 2)
┌─────┬─────┐
│ foo ┆ bar │
│ --- ┆ --- │
│ u32 ┆ u32 │
╞═════╪═════╡
│ 3   ┆ 3   │
└─────┴─────┘

In [ ]:
## Expression

In [ ]:
## Categories

In [61]:
df=pl.Series(["cats","dogs","cats","dogs"])
df.select(pl.col("cats").cat.get_categories())

AttributeError: 'Series' object has no attribute 'select'

:

In [ ]:
## Column_names

In [57]:
df_1=pl.DataFrame({"a":[1,2,3],"b":["peter","mark","sam"]})
df_1.with_columns(pl.col("a")+1,pl.col("b").str.to_uppercase().alias("changed_name"))

shape: (3, 3)
┌─────┬───────┬──────────────┐
│ a   ┆ b     ┆ changed_name │
│ --- ┆ ---   ┆ ---          │
│ i64 ┆ str   ┆ str          │
╞═════╪═══════╪══════════════╡
│ 2   ┆ peter ┆ PETER        │
│ 3   ┆ mark  ┆ MARK         │
│ 4   ┆ sam   ┆ SAM          │
└─────┴───────┴──────────────┘

In [59]:
df_1.select(pl.all().exclude([pl.Int64,pl.Float64]))

shape: (3, 1)
┌───────┐
│ b     │
│ ---   │
│ str   │
╞═══════╡
│ peter │
│ mark  │
│ sam   │
└───────┘

In [ ]:
# polars.Expr.alias
# Expr.alias(name: str) → Expr