In [1]:
import polars as pl

In [2]:
df = pl.DataFrame(
      {
      "foo": ["a", "b", "b", "c"],
      "bar": [10, 20, 30, 40],
    }
  )
df.sql("""
  SELECT foo, SUM(bar) FROM self GROUP BY foo HAVING bar >= 40
""")

shape: (2, 2)
┌─────┬─────┐
│ foo ┆ bar │
│ --- ┆ --- │
│ str ┆ i64 │
╞═════╪═════╡
│ c   ┆ 40  │
│ b   ┆ 50  │
└─────┴─────┘

In [3]:
df.sql("""
  SELECT foo, bar FROM self ORDER BY bar DESC
""")

shape: (4, 2)
┌─────┬─────┐
│ foo ┆ bar │
│ --- ┆ --- │
│ str ┆ i64 │
╞═════╪═════╡
│ c   ┆ 40  │
│ b   ┆ 30  │
│ b   ┆ 20  │
│ a   ┆ 10  │
└─────┴─────┘

In [4]:
df.sql("""SELECT foo from self limit 1""")

shape: (1, 1)
┌─────┐
│ foo │
│ --- │
│ str │
╞═════╡
│ a   │
└─────┘

In [5]:
df.sql("""SELECT foo from self""")

shape: (4, 1)
┌─────┐
│ foo │
│ --- │
│ str │
╞═════╡
│ a   │
│ b   │
│ b   │
│ c   │
└─────┘

In [8]:
df=pl.DataFrame({'a':[1,2,3],'b':[400,500,600]})
df.sql("""SELECT a from self""")

shape: (3, 1)
┌─────┐
│ a   │
│ --- │
│ i64 │
╞═════╡
│ 1   │
│ 2   │
│ 3   │
└─────┘

In [11]:
df.sql("""select a,sum(b) from self group by 1 order by 2 desc""")

shape: (3, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 3   ┆ 600 │
│ 2   ┆ 500 │
│ 1   ┆ 400 │
└─────┴─────┘

In [ ]:
# OFFSET
# Skip a number of rows before starting to return rows from the query.

In [12]:
df = pl.DataFrame(
  {
    "foo": ["b", "a", "c", "b"],
    "bar": [20, 10, 40, 30],
  }
)
df.sql("""
  SELECT foo, bar FROM self LIMIT 2 OFFSET 2
""")

shape: (2, 2)
┌─────┬─────┐
│ foo ┆ bar │
│ --- ┆ --- │
│ str ┆ i64 │
╞═════╪═════╡
│ c   ┆ 40  │
│ b   ┆ 30  │
└─────┴─────┘

In [ ]:
## Functions

In [ ]:
## Temporal Functions

In [17]:
import datetime
from datetime import date
df = pl.DataFrame(
  {
    "dt": [
      date(1969, 12, 31),
      date(2026, 8, 22),
      date(2077, 2, 10),
    ],
  }
)
df.sql("""SELECT dt from self""")

shape: (3, 1)
┌────────────┐
│ dt         │
│ ---        │
│ date       │
╞════════════╡
│ 1969-12-31 │
│ 2026-08-22 │
│ 2077-02-10 │
└────────────┘

In [19]:
df.sql("""select extract(day from dt) from self""")

shape: (3, 1)
┌─────┐
│ dt  │
│ --- │
│ i8  │
╞═════╡
│ 31  │
│ 22  │
│ 10  │
└─────┘

In [22]:
df.sql("""select strftime(dt,'%B %d, %Y') from self""")

shape: (3, 1)
┌───────────────────┐
│ dt                │
│ ---               │
│ str               │
╞═══════════════════╡
│ December 31, 1969 │
│ August 22, 2026   │
│ February 10, 2077 │
└───────────────────┘