In [1]:
## Dataframe

In [2]:
# polars.DataFrame.dtypes
df=pl.DataFrame({"a":[1,2,3],"names":["peter","sam","jack"]})
df.dtypes

NameError: name 'pl' is not defined

In [ ]:
# polars.DataFrame.height
# property DataFrame.height: int[source]
# Get the number of rows.

In [6]:
df.height

3

In [ ]:
# polars.DataFrame.columns
# property DataFrame.columns: list[str][source]
# Get or set column names.

# Returns
# :
# list of str
# A list containing the name of each column in order.

In [8]:
df.columns

['a', 'names']

In [ ]:
# polars.DataFrame.schema
# property DataFrame.schema: Schema[source]
# Get an ordered mapping of column names to their data type.

In [7]:
df.schema

Schema([('a', Int64), ('names', String)])

In [ ]:
## Boolean

In [1]:
import polars as pl

In [2]:
df=pl.DataFrame({"a":[1,2]}
)

In [3]:
df.select(pl.col("a").is_duplicated())

shape: (2, 1)
┌───────┐
│ a     │
│ ---   │
│ bool  │
╞═══════╡
│ false │
│ false │
└───────┘

In [ ]:
# # polars.Expr.is_finite
# Expr.is_finite()

In [4]:
df=pl.DataFrame({'A':[1.0,2],"B":[3.0,float("inf")]})
df.select(pl.all().is_finite())

shape: (2, 2)
┌──────┬───────┐
│ A    ┆ B     │
│ ---  ┆ ---   │
│ bool ┆ bool  │
╞══════╪═══════╡
│ true ┆ true  │
│ true ┆ false │
└──────┴───────┘

In [ ]:
## DataFrame Aggregation

In [ ]:
# polars.DataFrame.min
# DataFrame.min() → DataFrame[source]
# Aggregate the columns of this DataFrame to their minimum value

In [10]:
df=pl.DataFrame({"foo":[1,2,3],"bar":["peter","mark","james"],"salary":[100,200,300]})
df.min()

shape: (1, 3)
┌─────┬───────┬────────┐
│ foo ┆ bar   ┆ salary │
│ --- ┆ ---   ┆ ---    │
│ i64 ┆ str   ┆ i64    │
╞═════╪═══════╪════════╡
│ 1   ┆ james ┆ 100    │
└─────┴───────┴────────┘

In [ ]:
df.with_columns(val=pl.we)

In [11]:
df.max()

shape: (1, 3)
┌─────┬───────┬────────┐
│ foo ┆ bar   ┆ salary │
│ --- ┆ ---   ┆ ---    │
│ i64 ┆ str   ┆ i64    │
╞═════╪═══════╪════════╡
│ 3   ┆ peter ┆ 300    │
└─────┴───────┴────────┘

In [12]:
df.min()

shape: (1, 3)
┌─────┬───────┬────────┐
│ foo ┆ bar   ┆ salary │
│ --- ┆ ---   ┆ ---    │
│ i64 ┆ str   ┆ i64    │
╞═════╪═══════╪════════╡
│ 1   ┆ james ┆ 100    │
└─────┴───────┴────────┘

:

In [4]:
import polars as pl
df=pl.DataFrame({"a":[1,2]})
df.select(pl.col("a").is_between(2,3))

shape: (2, 1)
┌───────┐
│ a     │
│ ---   │
│ bool  │
╞═══════╡
│ false │
│ true  │
└───────┘

In [5]:
## is_unique
df.select(pl.col("a").is_unique())

shape: (2, 1)
┌──────┐
│ a    │
│ ---  │
│ bool │
╞══════╡
│ true │
│ true │
└──────┘

In [6]:
# Expr.has_nulls() → Expr[source]
# Check whether the expression contains one or more null values.
df.select(pl.col("a").has_nulls())

shape: (1, 1)
┌───────┐
│ a     │
│ ---   │
│ bool  │
╞═══════╡
│ false │
└───────┘